.level-bubble-container {
  width: 300px; /* Largura do círculo */
  height: 300px; /* Altura do círculo */
  border: 5px solid #ccc; /* Bordas do círculo */
  border-radius: 50%; /* Faz o círculo */
  position: relative;
  overflow: hidden;
  background-color: #e0e0e0; /* Cor de fundo do círculo */
}

.level-bubble {
  position: absolute;
  bottom: 50%; /* Posiciona o líquido na parte inferior */
  left: 50%; /* Posiciona o líquido na parte inferior */
  width: 50px;
  height: 50px;
  background-color: #76c7c0; /* Cor do líquido */
  border-radius: 50%; /* Faz o círculo */
  transform: translate(-50%, 50%);
}
